@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Body */
body{
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;
}
/* Shared Component */
.btn{
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    font-size: 18.2px;
    background: linear-gradient(to right,rgba(60,145,10.8),rgba(29,74,53.8));
    transition: .5  ease-in-out;
}
.card-btn{
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 33px;
}
/* Header CSS */
.navbar{
    margin: 0 auto;
    width: 1600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h2{
    margin-left: 160px;
    font-size: 32px;
    font-weight: bold;
}
.navbar .btn-signin{
    padding: 15px 30px;
    color: #006A50;
    background-color: #F1F1F3;
    border: 1px solid #006A50;
    margin-right: 160px;
}
.navbar .btn-signin:hover{
    color: white;
}

.banner{
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    gap: 64px;
}
.banner .banner-text{
    width: 622px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.banner .banner-text .bunner-subtitle{
    font-size: 24px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: .5;
    margin-bottom: 16px;
}
.banner .banner-text .banner-title{
    font-size: 56px;
    font-weight: 800;
    color: #0E0E0E;
    margin-bottom: 40px;
}
/* Main CSS */

/* Piller Section */
.piller{
    width: 1280px;
    margin: 40px auto;
}
.piller .piller-title{
    font-size: 40px;
    margin-bottom: 32px;
}
.piller-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
}
.piller .piller-cards .piller-card{
    width: 254px;
    height: 196px;
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}
.piller .piller-cards .piller-card >h2{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0 12px 0;
}
.piller .piller-cards .piller-card >p{
    font-size: 16px;
    opacity: .7;
}

/* Section Vision */
.vision{
    width: 1280px;
    height: 765px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.vision .vision-title{
    font-size: 40px;
    font-weight: bold;

}
.vision .vision-subtitle{
    font-size: 16px;
    opacity: .7;    

}
.vision .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.vision .cards .card{
    width: 410px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;    
    border-radius: 16px;
    gap: 24px;
}
.vision .cards .card img{
    margin-left: 33px;
}
.vision .cards .card .card-title{
    font-size: 20px;
    font-weight: 700;
    margin-left: 33px;
    margin-bottom: 12px;
}
.vision .cards .card .card-description{
    font-size: 16px;
    opacity: .7;
    margin: 0 33px;
}
/* Vision Card Background Color and Button Color */
.card-blue{
    background-color: rgba(84, 144, 245, .2);
}
.card-green{
    background-color: #C6E4D6;
}
.card-orange{
    background-color: #F7EBCF;
}
.btn-blue{
    background-color: #5490F5;
}
.btn-blue:hover{
    background-color: rgba(84, 144, 245, .7);
    transition: .3 ease-in-out;
}
.btn-green{
    margin-top: 18px;
    background-color: #09A15C;
}
.btn-green:hover{
    background-color: rgba(9, 168, 92, .7);
    transition: .3 ease-in-out;
}

.btn-orange{
    background-color: #FFC239;
}
.btn-orange:hover{
    background-color: rgba(255, 194, 57, .7);
    transition: .3 ease-in-out;
}
/* Vision Section Quote */
.vision .quote{
    width: 1280px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 16px;
    background-color: white;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 22px
}
.vision .quote .quote-text{
    font-size: 16px;
    margin-left:24px ;
    margin-top: 48px;
    margin: 48px 24px 0 24px;
    text-align: justify;
}
.vision .quote .quote-name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
    margin-top: 12px;
}
.vision .quote .quote-degi{
    font-size: 16px;
    opacity: .6;
    margin-left: 24px;
    margin-top: 4px;
}

/* Recent News */
.recent{
    width: 1280px;
    height: 1406px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}
.recent .recent-title{
    font-size: 40px;
    font-weight: bold;
}
.recent .recent-desc{
    font-size: 16px;
    opacity: .7;
}
.recent-news-card{
    height: 1280px;
    height: 402px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
}
.recent-news-card .news-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.recent-news-card .news{
    font-size: 16px;
    opacity: .7;
    margin-bottom: 32px;
}

.middle{
    margin-left: 48px;
}
.time{
    display: flex;
    gap: 12px;
}
.time>span{
    font: 16px;
    opacity: .7;
    margin: 12px 0;
}  
.recent-news-card >img{
    border-radius: 24px ;
 
}
.recent-news-card .left{
    margin: 0px 0 0px 48px;
}
.recent-news-card .right{
    margin: 0px  48px 0 48px;
}

/* Donate Section */
.donate{
    width: 1280px;
    height: 464px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
}
.donate .donate-title{
    font-size: 40px;
    font-weight: 700;
}
.donate .donate-desc{
    font-size: 16px;
    opacity: .7;
    text-align: center;
}

.money{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.money .taka{
    width: 240px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:16px ;
    font-size: 40px;
    font-weight: bold;
}
.bg{
    background-color: #C6E4D6;
}
.no-bg{
    background-color: white;  
}
.no-bg:hover{
    background-color: #C6E4D6;
}

.donate > input[type="text"]{
    width: 1010px;
    height: 64px;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #0E0E0E;   
    background: white;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
}

/* Newsletter Section */
.newsletter{
    width: 1280px;
    height: 395px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #C6E4D6;
    border-radius: 24px;
}
.newsletter .newsletter-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
}
.newsletter .newsletter-desc{
    font-size: 16px;
    opacity: .7;
    text-align: center;
    margin-bottom: 24px;

}
.newsletter .mail-input{
    width: 700px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
input[type="email"]{
    padding: 18px 40px; 
    width:  600px;
    border: none;
    border-radius:  8px 0 0 8px ;
    font-size: 16px;

}
input[type="submit"]{
    border-radius: 0 8px 8px 0;
}

.newsletter .msg{
    font-size: 16px;
    opacity: .7;
}
/* Footer CSS */
footer{
    width: 1600px;
    height: 226px;
    margin: 40px auto 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
hr{
    width: 80%;
    margin: 32px 0;
    opacity: .2;
}
.icons{
    display: flex;
    gap: 24px;
}
